[submodule "vendor/Jerk"]
	path = vendor/Jerk
	url = git://github.com/gf3/Jerk.git
[submodule "vendor/sandbox"]
	path = vendor/sandbox
	url = git://github.com/gf3/sandbox.git
[submodule "vendor/WAT"]
	path = vendor/WAT
	url = git://github.com/gf3/WAT.git
